html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p,
a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
.btn {
  background-color: #FF8500;
  border: none;
  border-radius: 40px;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 8px 25px -13px rgba(0, 0, 0, 0.4);
}
header .header-content .top-header {
  padding: 60px 0;
}
header .header-content .top-header .header-logo {
  display: inline-block;
}
header .header-content .top-header .header-logo span {
  float: right;
  color: rgba(33, 91, 190, 0.9);
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  padding: 33px 0 0 15px;
}
header .header-content .top-header .right-bar {
  float: right;
  padding-top: 16px;
}
header .header-content .top-header .right-bar .header-menu {
  display: inline-block;
  padding-right: 67px;
}
header .header-content .top-header .right-bar .header-menu li {
  display: inline-block;
  padding: 0 10px;
}
header .header-content .top-header .right-bar .header-menu li a {
  color: rgba(33, 91, 190, 0.9);
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
header .header-content .top-header .right-bar button {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 17px 55px;
  text-align: center;
}
header .header-content .top-header .right-bar button span {
  color: #fff;
  padding-right: 5px;
}
header .header-content .down-header {
  overflow: auto;
  padding-bottom: 100px;
}
header .header-content .down-header .left-bar {
  width: 35%;
  display: inline-block;
}
header .header-content .down-header .left-bar .header-heading h1 {
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  color: rgba(33, 91, 190, 0.9);
  padding: 0 0 20px 0;
}
header .header-content .down-header .left-bar .header-txt h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: rgba(33, 91, 190, 0.9);
  padding-bottom: 50px;
}
header .header-content .down-header .left-bar button {
  padding: 14px 45px;
  margin-bottom: 30px;
}
header .header-content .down-header .left-bar .header-icons {
  padding-top: 20px;
}
header .header-content .down-header .left-bar .header-icons .icon-wrapper {
  display: inline-block;
  background-color: #2f7cff;
  padding: 7px;
  border-radius: 100%;
  height: 38px;
  width: 38px;
  margin-right: 15px;
}
header .header-content .down-header .left-bar .header-icons .icon-wrapper:nth-child(3) span {
  padding-left: 2px;
}
header .header-content .down-header .left-bar .header-icons .icon-wrapper:last-child span {
  padding-left: 10px;
}
header .header-content .down-header .left-bar .header-icons .icon-wrapper span {
  font-size: 30px;
  color: #fff;
  padding-top: 6px;
  padding-left: 5px;
}
header .header-content .down-header .right-bar {
  width: 60%;
  display: inline-block;
  float: right;
}
header .header-content .down-header .right-bar img {
  padding-left: 150px;
}
.service {
  padding: 100px 0;
  background-color: rgba(33, 91, 190, 0.9);
}
.service .service-content .service-heading h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}
.service .service-content .service-blocks {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.service .service-content .service-blocks .service-block {
  width: 30%;
  background-color: #fff;
  margin-right: 30px;
  border-radius: 5px;
  padding: 51px 48px 40px;
}
.service .service-content .service-blocks .service-block .service-block-icon span {
  color: rgba(33, 91, 190, 0.9);
  padding-left: 175px;
  font-size: 30px;
  padding-bottom: 30px;
}
.service .service-content .service-blocks .service-block .service-block-heading h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: rgba(33, 91, 190, 0.9);
}
.service .service-content .service-blocks .service-block .service-block-txt {
  width: 80%;
  padding-left: 40px;
  padding-top: 20px;
}
.service .service-content .service-blocks .service-block .service-block-txt p {
  color: rgba(33, 91, 190, 0.9);
  text-align: center;
  line-height: 25px;
}
.erhalten {
  padding: 51px 0;
}
.erhalten .erhalten-content .left-bar {
  display: inline-block;
  width: 55%;
  padding-left: 70px;
}
.erhalten .erhalten-content .right-bar {
  display: inline-block;
  float: right;
  width: 40%;
  padding-top: 140px;
}
.erhalten .erhalten-content .right-bar .right-bar-content {
  width: 85%;
}
.erhalten .erhalten-content .right-bar .right-bar-content .erhalten-heading {
  padding-bottom: 30px;
}
.erhalten .erhalten-content .right-bar .right-bar-content .erhalten-heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: rgba(33, 91, 190, 0.9);
}
.erhalten .erhalten-content .right-bar .right-bar-content .erhalten-txt {
  padding-bottom: 30px;
  width: 95%;
}
.erhalten .erhalten-content .right-bar .right-bar-content .erhalten-txt p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(33, 91, 190, 0.9);
}
.erhalten .erhalten-content .right-bar .right-bar-content .erhalten-button button {
  padding: 14px 35px;
}
.kunden {
  background: #EAF2FF;
  padding: 100px 0;
}
.kunden .kunden-content .kunden-heading {
  padding-bottom: 80px;
}
.kunden .kunden-content .kunden-heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: rgba(33, 91, 190, 0.9);
  text-align: center;
}
.kunden .kunden-content .kunden-blocks {
  display: flex;
  justify-content: center;
}
.kunden .kunden-content .kunden-blocks .kunden-block {
  width: 22%;
  padding-left: 60px;
}
.kunden .kunden-content .kunden-blocks .kunden-block .block-heading h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(33, 91, 190, 0.9);
  padding-top: 30px;
}
.kunden .kunden-content .kunden-blocks .kunden-block .block-txt {
  width: 90%;
  padding-top: 30px;
}
.kunden .kunden-content .kunden-blocks .kunden-block .block-txt p {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(33, 91, 190, 0.9);
}
.tarifplane {
  background: rgba(33, 91, 190, 0.9);
  padding: 100px 0;
}
.tarifplane .tarifplane-content .tarifplane-heading h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #fff;
}
.tarifplane .tarifplane-content .tarifplane-blocks {
  display: flex;
  justify-content: center;
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block {
  background-color: #fff;
  width: 20%;
  padding: 40px 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 40px 20px;
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block .block-heading {
  padding-bottom: 30px;
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block .block-heading h2 {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: rgba(33, 91, 190, 0.9);
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block .block-txt {
  padding-left: 60px;
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block .block-txt .txt {
  padding-bottom: 15px;
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block .block-txt .txt span {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(33, 91, 190, 0.9);
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block .block-txt .txt span:first-child {
  padding-right: 5px;
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block .price {
  padding: 20px;
  padding-left: 60px;
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block .price p {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: rgba(33, 91, 190, 0.9);
}
.tarifplane .tarifplane-content .tarifplane-blocks .tarifplane-block button {
  margin-left: 60px;
  padding: 10px 30px;
  border-radius: 5px;
}
